@ECHO OFF

REM set the path to your game folder
SET "AMONGUS=C:\Steam\steamapps\common\Among Us"

REM set the version of the generated deobfuscations
SET "AMONGUS_VERSION=2021_4_14s"

REM set the path of tools
SET "IL2CPPINSPECTOR=C:\Users\Christoph\Documents\GitHub\Il2CppInspector\Il2CppInspector.CLI\bin\Release\netcoreapp3.1\win-x64\publish\Il2CppInspector.exe"

REM setup virtual machines for deployment
REM uncomment the following line to enable vm upload or remote upload
REM SET "VM_UPLOAD=yes"
SET "VM_BASENAME=GAMECLIENT"
SET "VM_SUFFIXES=A B C"
SET "VM_AMONGUS=Users\Christoph\Desktop\Among Us"
REM SET "REMOTE_UPLOAD=yes"
SET "REMOTE_NAME=redstar"
SET "REMOTE_AMONGUS=Among Us"